html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --dark-color: #000000;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 0;
}
h1,
h2,
h3 {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

/* Утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* hover focus */

.nav-link:hover,
.nav-link:focus,
.contact-link:focus,
.contact-link:hover,
.social-item:hover,
.social-item:focus,
.social-link:hover,
.social-link:focus,
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border-bottom: 1px solid #ececec;
  /* padding-top: 25px;
  padding-bottom: 25px; */
}
.page-header .nav-link:hover,
.page-header .nav-link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Section */

.section {
  padding: 94px 0;
}

/* Навигация */

.logo {
  margin-right: 85px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--dark-color);
}

.web {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-nav {
  display: flex;
}

.menu-nav .item:not(:last-child) {
  /* margin-right: 50px; */
}

.menu-nav .nav-link.current {
  color: var(--accent-color);
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* подчеркивание */
.menu-nav {
  display: flex;
  height: 100%;
}

.menu-nav .item {
  position: relative;
}

.menu-nav .item + .item {
  margin-left: 50px;
}

.menu-nav .nav-link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
}

.menu-nav .current::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* contacts */

.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-us {
  display: flex;
  margin-left: auto;
}

.email {
  margin-right: 30px;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}
.header-phone .header-mail {
  display: inline-flex;
  align-items: center;
}

.icon-mail {
  margin-right: 10px;
  width: 16px;
  height: 11px;
  fill: currentColor;
}

.icon-phone {
  margin-right: 10px;
  width: 11px;
  height: 16px;
  /* fill: currentColor; */
}
.contact-link:hover .icon-mail,
.icon-phone {
  color: var(--accent-color);
}

.contact-link {
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:focus,
.contact-link:hover {
  color: #2196f3;
  fill: #2196f3;
}

.contact-us .item + .item {
  margin-left: 50px;
}

/* Hero*/

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/Hero-optmz.jpg");

  background-repeat: no-repeat;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  /* color: rgb(152, 152, 160); */
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
}
.container-hero {
  /* width: 1600px; */
  padding-right: 15px;
  padding-left: 15px;
  /* padding-top: 200px; */
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid brown; */
}
/* <!--Преимушества--> */

.margin-top {
  padding-top: 0;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.container {
  justify-content: center;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  /* display: flex; */
  flex-wrap: wrap;
}

.feature-list > .item {
  width: calc((100% - 90px) / 4);
  display: inline;
  padding: 0;

  /* margin-top: 94px;
  margin-bottom: 94px; */
}

/* иконки в преимуществах */
.feature-list .item::before {
  display: block;
  content: "";
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.item.icon-antena::before {
  background-image: url(../images/Vector.svg);
}
.item.icon-clock::before {
  background-image: url(../images/Vector-2.svg);
}
.item.icon-comp::before {
  background-image: url(../images/Vector-3.svg);
}
.item.icon-astro::before {
  background-image: url(../images/Vector-4.svg);
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;
}

.section .description {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
/* Чем мы занимаемся */

.ourwork-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* work */

.work-list {
  display: flex;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.work-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Псевдоэленты на картинках */

.work-list .item {
  position: relative;
  z-index: 2;
  height: 294px;
  margin-right: 30px;
}

.work-list .item:last-child {
  margin-right: 0;
}

.work-list .item::after {
  position: absolute;
  content: "";

  bottom: 0;
  left: 0;

  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
/* заголовок */
.title {
  position: absolute;

  bottom: 27px;
  left: 23%;
  z-index: 1;

  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Наша команда */

.background {
  background-color: #f5f4fa;
}

.team-menu {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  display: block;
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  background-color: var(--white-color);
}

.team-member:nth-child(4n) {
  margin-right: 0;
}

.image {
  margin-bottom: 30px;
}
.team-title {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 56px;
  margin-right: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}

.position-name {
  margin-top: 0;
  margin-bottom: 16px;
  /* margin-left: 70px;
  margin-right: 70px; */
  text-align: center;
  font-size: 16px;
  line-height: 1.18;

  color: var(--main-color);
}

/* social list */
/* карточка члена команды */
.team-menu .team-member {
  height: 422px;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team-menu .team-member:last-child {
  margin-right: 0;
}

/* список соц сетей */

.social-list {
  display: flex;
  height: 44px;
  width: 270px;
  justify-content: center;
  padding-bottom: 30px;
}

.social-item {
  display: block;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  text-decoration: none;
  text-align: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  background-size: contain;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.social-link:hover {
  fill: var(--white-color);
  fill: var(--accent-color);
}

/* clients */
/* Постоянные клиенты */

.clients .item {
  display: block;
  margin-right: 30px;
}

.clients .list {
  display: flex;
}

/* .clients .item {
  display: flex;
  margin-right: 30px;
} */

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-link-logo {
  display: block;
  fill: currentColor;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

/* Portfolio */

/* button */

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.button-container .item {
  text-align: center;
  display: inline-block;
}

.btn {
  margin-right: 8px;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

a {
  text-decoration: none;
}

/* Flex container */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.container-element {
  margin-right: 30px;
  width: 370px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.container-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-element:nth-child(3n + 0) {
  margin-right: 0;
}

.list-link {
  text-decoration: none;
}

.description {
  border-top: none;
  box-sizing: inherit;
  padding: 0;
  /*padding: 24px 20px;
 
  border-right: 1px solid #eeeeee; 
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;*/
}

.portfolio-title {
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;

  font-size: 18px;
  line-height: 36px;
}

.list-description {
  margin-left: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.link-description {
  display: none;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
/* Анимация */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.container-element:hover .portfolio-text {
  transform: translateY(0);
}
.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--accent-color);

  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text p {
  margin: 0;
}
/* footer */

.footer {
  background-color: #2f303a;
  /* padding-top: 60px;
  padding-bottom: 60px; */
  height: 252px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 0;
  justify-content: flex-start;
}
.container {
  padding-bottom: 94px;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}
.logo-address {
  display: block;
  margin-right: 30px;
  width: 270px;
  /* margin-bottom: 60px; */
  /* margin-top: 60px; */
  /* margin-right: 30px; */
  justify-content: left;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.contacts-address {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
}

.padding-zero {
  padding-left: 0;
  margin-top: 0px;
}

.contacts-item {
  display: block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

/* join */
.join-menu {
  display: block;
  width: 270px;
  margin-right: 30px;
  padding-top: 72px;
}

.join {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}
.footer-link-logo {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

/* Modal Widow */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  /* width: 528px;
  height: 581px; */
  background-color: var(--white-color);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 6px;
  margin-top: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn-close:hover {
  color: #2196f3;
}
.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.2);
}
